@import'../abstracts/mixins';
@import'../abstracts/variables';

.booking {
    @include flex(column, center, center, Null);
    gap: 2rem;

    .booking-info {
        padding-bottom: 4rem;
        border-bottom: 1px solid black;
    }

    img {
        width: 2rem;
    }
}

@include desktop {
    .booking {
        @include flex(row, center, center, Null);
    
        div {
            width: 70%;
        }
        
    .booking-info {
            border: none;
            padding-bottom: 0;
        }    
    }
}



