.banner {
	height: 75vh;
	width: 100%;
	background: url('../img/banner-img.webp') center / cover no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #eee;
	text-transform: uppercase;
}

.banner h1 {
	font-size: 3rem;
	text-shadow: 3px 2px #BF032E;
}
